*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Compilados de cualquier módulo
build/
*.apk
*.aab
*.ap_

# Claves de firma (no subir)
*.jks
*.keystore
